* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: linear-gradient(45deg, rgb(0, 120, 69), rgb(80, 174, 62), rgb(162, 201, 57), rgb(80, 174, 62), rgb(0, 120, 69));
    padding-top: 0px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

#tituloCompania {
    padding-left: 5%;
    width: 40%;
    height: 100%;
    font-size: 100%;

}

#tituloCompania h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#navegador {
    flex-grow: 1;
}


#navegador ul {
    list-style-type: none;
    text-align: center;
    display: flex;
    justify-content: center;
}

#navegador li {
    padding: 3%;
    border-left: 1px solid green;
    display: inline;
}

#navegador li a {

    color: white;
    width: 50%;
    text-decoration: none;
}

#toggle-menu {
    display: none;
}

.menu-icon {
    display: none;
    cursor: pointer;
}

#navegador li a:hover {

    color: rgb(248, 167, 4);
}

@media screen and (max-width: 1042px) {

    h1,
    p {
        text-align: center;
        font-size: 100%;
    }

    

    #navegador ul {
       width: 20%;
        display: none;
        position: absolute;
       right: 9%;
    }

    #navegador li {
        width: 100%;
        padding: 5%;
        border: 1px solid green;
        background-color: grey;
    }

    .menu-icon {
       margin-left: 50%;
        width: 100%;
        display: inline-block;
        position: relative;
    }

    #toggle-menu:checked~ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 768px) {

    h1,
    p {
        font-size: 75%;
    }
}

@media screen and (max-width: 580px) {

    h1,
    p {
        font-size: 50%;
    }
}