footer{
    display: flex;
    flex-direction: column;
    color: #ccc;
    font-family: 'Manrope', sans-serif;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}
.superior{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 668px) {
    .superior{
    display: flex;
    flex-direction: column;
   
    }
}
.contenedorLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border: none;
    width: 33%;
}
.btn-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    border-radius: 50px;
}
.contenedorDatos{
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border: none;
    width: 23%;
    
}
.contenedorRedes,.contenedorDatos h4{
    text-decoration:underline;
}
@media screen and (max-width: 1065px) {
    .contenedorDatos{
        font-size: 90%;
        width: 220px; 
    }
    .contenedorDatos h4{
        font-size: 1.5em; 
        position: relative;
        display: flex;
        left: 15%;
    }

}
@media screen and (max-width: 920px) {
    .contenedorDatos{
        font-size: 80%;
        width: 220px; 
    }

}
@media screen and (max-width: 668px) {
  
    .contenedorDatos{
        margin-top: 2%;
        display: flex;
    flex-direction: column;
    font-size: 70%; 
    width: 180px; 
    align-items: start; 
    }
    .contenedorDatos h4{
        font-size: 1.25em; 
        position: relative;
        display: flex;
        left: 20%;
        padding-bottom: 5%;
    }
}
.contenedorRedes{
    border: 1px solid white;
    border: none;
    width: 43%;
}
.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 100%;
   
}
.iconos{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
}

.instagram{
    border: none;
    background-color: #333333;
    margin:  2%;
    padding: 12px;
    border-radius: 20%;
    cursor: pointer;
    transition: all 0.3s;
}
.btn-instagram{
    height: auto;
    justify-content: center;
}
.instagram:hover{
    background-color: #5d3d69;
    box-shadow: 0px 0px 10px 5px rgb(128, 41, 128);
}
.whatsapp{
    border: none;
    background-color: #333333;
    margin:  2%;
    padding: 16px;
    border-radius: 20%;
    cursor: pointer;
    transition: all 0.3s;
}
.btn-whatsapp{
    height: auto;
    justify-content: center;
}
.whatsapp:hover{
    background-color: #335c36;
    box-shadow: 0px 0px 10px 5px rgb(19, 133, 38);
}
@media screen and (max-width: 668px) {
    .instagram{
        padding: 8px;
    }
    .whatsapp{
        padding: 12px;
    }
}
.contenedorDatos a:link{
    color: #ccc;
    text-decoration: none;
}
.contenedorDatos a:visited{
    color: #ccc;
}

.inferior{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
 